services:
  nginx:
    container_name: nginx 
    build: requirements/nginx/
    # dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "443:443"
    restart: on-failure
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
  mariadb:
    container_name: mariadb
    build: requirements/mariadb/
    # dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SQL_DATABASE=${SQL_DATABASE}
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      - SQL_ROOT_PASSWORD=${SQL_ROOT_PASSWORD}
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
  wordpress:
    container_name: wordpress
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    build: requirements/wordpress
    # dockerfile: Dockerfile
    depends_on:
      - mariadb
    restart: on-failure
    expose:
    - "9000"

volumes:
  wordpress:
    driver: local
    driver_opts: 
      type: 'none'
      o: bind
      device: '/home/agaroux/data/wordpress'
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/agaroux/data/mariadb'

networks:
  inception:
    driver: bridge